<div class="container">
    <div class="card">
        <div class="card-header">Opcje</div>
        <h5 class="card-title"></h5>
        <div class="card-body text-center">
            <div class="form-group">
                <button class="btn btn-primary" [routerLink]="['/options/calibrationParams']">Ustawienia kalibracji</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [routerLink]="['/options/viewModeParams']">Ustawienia trybu wyświetlania</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [routerLink]="['/options/trainingModeParams']">Ustawienia trybu treningu</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [routerLink]="['/options/poolDrawerParams']">Ustawienia wyświetlania</button>
            </div>
            <button class="btn btn-primary" (click)="navigateToPreviousPage();">Wróć</button>
        </div>
    </div>
</div>
