<canvas id="canvas" #canvas width="1333" height="749" ></canvas>
<br/>


<button class="btn btn-primary" (click)="navigateToPreviousPage();">
    Wróć
</button>

<button class="btn btn-primary" (click)="fetchTable();">Reload View</button>
<button class="btn btn-primary" (click)="setViewMode(0);">Tryb normalny</button>
<button class="btn btn-primary" (click)="setViewMode(1);">Tryb pasywny 1</button>
<button class="btn btn-primary" (click)="setViewMode(36);">Tryb pro</button>
<button class="btn btn-primary" (click)="setViewMode(22);">Zakryte miejsca</button>

<button class="btn btn-primary" (click)="setViewMode(32);">Rotacja</button> 
<button class="btn btn-primary" (click)="setViewMode(33);">Bez rotacji</button>
<button class="btn btn-primary" (click)="setViewMode(35);">Both Rotations</button>

<button class="btn btn-primary" (click)="setViewMode(37);">GameNoszek</button>

<button class="btn btn-primary" (click)="setViewMode(34);">Best Pocket</button>
<button class="btn btn-primary" (click)="setViewMode(37);">Rozgrywka o rozbicie</button>
<button class="btn btn-primary" (click)="setViewMode(38);">Podpowiedzi przy rozbiciu</button>
<button class="btn btn-primary" (click)="toggleHitInfo();">Toggle hit info</button>

<p>{{trainingStatus}}</p>
<div *ngIf="information != null">
    <p>Odległość pomiędzy bilą biała i bilą zagrywaną: {{information.distanceWhitePocket}}</p>
    <p>Odległość bili zagrywanej od łuzy: {{information.distanceWhiteSelected}}</p>
    <p>Kąt uderzenia: {{information.hitAngle}}</p>
</div>