canvas {
    border: 1px solid black;
    background-image: url("../../images/pool-background.jpg");
    /* background-image: url("../../images/mask.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}