<div class="container">
    <div class="card text-center">
        <div class="card-header">Bilard</div>
        <h5 class="card-title"></h5>
        <div class="card-body">
            <div class="form-group text-center">
                <button class="btn btn-primary" (click)="navigateToNewGame();">
                    Nowa gra
                </button>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" (click)="navigateToOptions();">
                    Opcje
                </button>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" (click)="navigateToDisplay();">
                    Display
                </button>
            </div>
        </div>
    </div>
</div>
    
    