<div class="container">
    <div id="back">
        <svg id="svg" class="border" #svg [attr.viewBox]="'0 ' + '0 ' + viewportSize.x + ' ' + viewportSize.y" tabindex="0"
            (mousemove)="moveSelectedElement($event)" 
            (mouseup)="disableDrag()"
            (keydown.Delete)="removeSelectedElement()">
            <defs>
                <linearGradient id="Gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop stop-color="red" offset="0%"/>
                    <stop stop-color="yellow" offset="50%"/>
                    <stop stop-color="green" offset="100%"/>
                </linearGradient>
            </defs>

            <ng-container *ngIf="rectangle != null">
                <svg:rect class="rectangle moveable" [attr.x]="rectangle.rectangle.minX" [attr.y]="rectangle.rectangle.minY" 
                    [attr.width]="rectangle.rectangle.size.x" [attr.height]="rectangle.rectangle.size.y"
                    (mousedown)="selectRectangle(rectangle, DragMode.Move)">
                </svg:rect>
                <svg:line class="rectangleBorder rectangleBorderVertical" 
                    [attr.x1]="rectangle.rectangle.minX" [attr.y1]="rectangle.rectangle.minY" 
                    [attr.x2]="rectangle.rectangle.minX" [attr.y2]="rectangle.rectangle.maxY"
                    (mousedown)="selectRectangle(rectangle, DragMode.MoveRectMinX)">
                </svg:line>
                
                <svg:line class="rectangleBorder rectangleBorderHorizontal" 
                    [attr.x1]="rectangle.rectangle.minX" [attr.y1]="rectangle.rectangle.maxY" 
                    [attr.x2]="rectangle.rectangle.maxX" [attr.y2]="rectangle.rectangle.maxY"
                    (mousedown)="selectRectangle(rectangle, DragMode.MoveRectMaxY)">
                </svg:line>

                <svg:line class="rectangleBorder rectangleBorderVertical" 
                    [attr.x1]="rectangle.rectangle.maxX" [attr.y1]="rectangle.rectangle.maxY" 
                    [attr.x2]="rectangle.rectangle.maxX" [attr.y2]="rectangle.rectangle.minY"
                    (mousedown)="selectRectangle(rectangle, DragMode.MoveRectMaxX)">
                </svg:line>

                <svg:line class="rectangleBorder rectangleBorderHorizontal" 
                    [attr.x1]="rectangle.rectangle.maxX" [attr.y1]="rectangle.rectangle.minY" 
                    [attr.x2]="rectangle.rectangle.minX" [attr.y2]="rectangle.rectangle.minY"
                    (mousedown)="selectRectangle(rectangle, DragMode.MoveRectMinY)">
                </svg:line>
            </ng-container>
            
            <svg:circle *ngFor="let pocket of pocketsPos; let i=index"
                class="pocket" [ngClass]="{'selectedPocket': i==training.pocketId}" [attr.cx]="pocket.x" [attr.cy]="pocket.y" [attr.r]="pocketDrawRadius" (click)="selectPocket(i)">
            </svg:circle>
            
            <svg:circle *ngFor="let ball of training.disturbBallsPositions" 
                class="ball moveable" [attr.cx]="ball.x" [attr.cy]="ball.y" [attr.r]="ballRadius"
                (mousedown)="selectBall(ball)">
            </svg:circle>

            <svg:circle *ngIf="training.whiteBallPosition != null"
                class="ball whiteBall moveable" [attr.cx]="training.whiteBallPosition.x" [attr.cy]="training.whiteBallPosition.y" [attr.r]="ballRadius"
                (mousedown)="selectBall(training.whiteBallPosition)">
            </svg:circle>

                
            <svg:circle *ngIf="training.selectedBallPosition != null"
                class="ball targetBall moveable" [attr.cx]="training.selectedBallPosition.x" [attr.cy]="training.selectedBallPosition.y" [attr.r]="ballRadius"
                (mousedown)="selectBall(training.selectedBallPosition)">
            </svg:circle>

            <g *ngIf="hitPointHint != null" 
                attr.transform="translate({{hitPointHint.position.x}} {{hitPointHint.position.y}}) scale({{hitPointHint.radius/45}})" 
                (mousedown)="selectHitPointHint(hitPointHint)" class="moveable">
                <svg:circle class="hitPointHintOuterCircle" [attr.r]="45"></svg:circle>
                
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.Middle}" cx="0" cy="0" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.Bottom}" cx="0" cy="29.700000000000003" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.RightBottom}" cx="21.001071401240463" cy="21.001071401240466" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.Right}" cx="29.700000000000003" cy="0" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.RightTop}" cx="21.001071401240466" cy="-21.001071401240463" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.Top}" cx="0" cy="-29.700000000000003" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.LeftTop}" cx="-21.001071401240463" cy="-21.00107140124047" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.Left}" cx="-29.700000000000003" cy="0" r="10.35"></circle>
                <circle class="hitPoint" [ngClass]="{'selectedHitPoint': hitPointHint.hitPoint == HitPoint.LeftBottom}" cx="-21.00107140124047" cy="21.00107140124046" r="10.35"></circle>
            </g>
            <g *ngIf="hitPowerHint != null"
                attr.transform="translate({{hitPowerHint.rectangle.position.x}} {{hitPowerHint.rectangle.position.y}})" 
                (mousedown)="selectHitPowerHint(hitPowerHint)" class="moveable">
                <rect [attr.width]="hitPowerHint.rectangle.size.x" [attr.height]="hitPowerHint.rectangle.size.y" fill="url(#Gradient1)" stroke="black">
                </rect>
                <rect [attr.width]="hitPowerHint.rectangle.size.x" [attr.y]="(1 - hitPowerHint.hitPower / 100) * hitPowerHint.rectangle.size.y" height="0.5">
                </rect>
            </g>
            <g *ngIf="targetBallHitPointHint != null"
                attr.transform="translate({{targetBallHitPointHint.position.x}} {{targetBallHitPointHint.position.y}})"
                (mousedown)="selectTargetBallHitPointHint(targetBallHitPointHint)" class="moveable">
                <circle [attr.r]="targetBallHitPointHint.radius" fill-opacity="0" stroke="black"></circle>
                <circle [attr.cx]="targetBallHitPointHint.whiteBallOffset.x" [attr.r]="targetBallHitPointHint.radius"
                    fill="white" stroke="black"></circle>
            </g>
            <g *ngIf="statusBox != null"
                attr.transform="translate({{statusBox.rectangle.position.x}} {{statusBox.rectangle.position.y}})"
                (mousedown)="selectStatusBox(statusBox)" class="moveable">
                <rect [attr.x]="statusBox.rectangleOffset.x" [attr.y]="statusBox.rectangleOffset.y" [attr.width]="statusBox.rectangle.size.x" [attr.height]="statusBox.rectangle.size.y" fill-opacity="0" stroke="black"></rect>
                <text font-size="8" style="pointer-events: none; user-select:none;">{{statusBox.statusText}}</text>
            </g>
        </svg>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <button class="btn btn-primary" (click)="addWhiteBall()">Dodaj białą bilę.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addTargetBall()">Dodaj bilę do wbicia.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addDisturbBall()">Dodaj przeszkadzajkę.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addRectangle()">Dodaj pole zatrzymania białej bili.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addHitPointHint()">Dodaj podpowiedź: punkt uderzenia.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addHitPowerHint()">Dodaj podpowiedź: siła uderzenia.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addTargetBallHitPowerHint()">Dodaj podpowiedź: punkt uderzenia w cel.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="addStatusBox()">Dodaj miejsce wyświetlania statusu.</button>
            </div>
        </div>
        <div class="col-4">
            <div *ngIf="isSelectedInstanceOfRectangle()">
                <div class="form-group">
                    <h6>Pole zatrzymania białej bili</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">X</span>
                        </div>
                        <input type="number" class="form-control" min="0" max="{{this.viewportSize.x - selectedElement.size.x}}" [(ngModel)]="selectedElement.position.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Y</span>
                        </div>
                        <input type="number" class="form-control" min="0" max="{{this.viewportSize.y - selectedElement.size.y}}" [(ngModel)]="selectedElement.position.y">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Szerokość</span>
                        </div>
                        <input type="number" class="form-control" min="1" max="{{this.viewportSize.x - selectedElement.position.x}}" [(ngModel)]="selectedElement.size.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Wysokość</span>
                        </div>
                        <input type="number" class="form-control" min="1" max="{{this.viewportSize.y - selectedElement.position.y}}" [(ngModel)]="selectedElement.size.y">
                    </div>
                </div>
                
            </div>
            <div *ngIf="isSelectedInstanceOfPoint()">
                <div class="form-group">
                    <h6>Pozycja wybranej bili</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">X</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Y</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.y">
                    </div>
                </div>
            </div>
            <div *ngIf="isSelectedInstanceOfHitPointHint()">
                <div class="form-group">
                    <h6>Punkt uderzenia</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">X</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.position.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Y</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.position.y">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Radius</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.radius">
                    </div>
                    <select class="form-control" [(ngModel)]="selectedElement.hitPoint">
                        <option [value]="HitPoint.Middle">Środek</option>
                        <option [value]="HitPoint.Top">Góra</option>
                        <option [value]="HitPoint.RightTop">Prawo góra</option>
                        <option [value]="HitPoint.Right">Prawo</option>
                        <option [value]="HitPoint.RightBottom">Prawo dół</option>
                        <option [value]="HitPoint.Bottom">Dół</option>
                        <option [value]="HitPoint.LeftBottom">Lewo dół</option>
                        <option [value]="HitPoint.Left">Lewo</option>
                        <option [value]="HitPoint.LeftTop">Lewo góra</option>
                    </select>
                </div>
            </div>
            <div *ngIf="isSelectedInstanceOfHitPowerHint()">
                <div class="form-group">
                    <h6>Siła uderzenia</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">X</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.rectangle.position.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Y</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.rectangle.position.y">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Szerokość</span>
                        </div>
                        <input type="number" class="form-control" min="1" max="{{this.viewportSize.x - selectedElement.rectangle.position.x}}" [(ngModel)]="selectedElement.rectangle.size.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Wysokość</span>
                        </div>
                        <input type="number" class="form-control" min="1" max="{{this.viewportSize.y - selectedElement.rectangle.position.y}}" [(ngModel)]="selectedElement.rectangle.size.y">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Siła uderzenia</span>
                        </div>
                        <input type="number" class="form-control" min="1" max="100" [(ngModel)]="selectedElement.hitPower">
                    </div>
                </div>
            </div>
            <div *ngIf="isSelectedInstanceOfTargetBallHitPowerHint()">
                <div class="form-group">
                    <h6>Punkt uderzenia w cel</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">X</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.position.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Y</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.position.y">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Promień</span>
                        </div>
                        <input type="number" class="form-control" min="1" [(ngModel)]="selectedElement.radius">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Przesunięcie białej bili</span>
                        </div>
                        <input type="number" class="form-control" min="-100" max="100" [(ngModel)]="selectedElement.whiteBallOffsetPercent">
                    </div>
                </div>
            </div>
            <div *ngIf="isSelectedInstanceOfStatusBox()">
                <div class="form-group">
                    <h6>Punkt uderzenia w cel</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">X</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.rectangle.position.x">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Y</span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="selectedElement.rectangle.position.y">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <select class="form-control" [(ngModel)]="training.difficultyLevel">
                <option [value]="DifficultyLevel.Easy">Łatwy</option>
                <option [value]="DifficultyLevel.Normal">Normalny</option>
                <option [value]="DifficultyLevel.Hard">Trudny</option>
            </select>
            
            <div class="form-group">
                <button class="btn btn-primary" (click)="clearTraining()">Usuń wszystko.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="fetchFromTable()">Załaduj stół.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="save()" [disabled]="!canSave()">Zapisz.</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="navigateToPreviousPage()">Wróć.</button>
            </div>
        </div>
    </div>
</div>