.moveable {
    cursor: move;
}

.ball {
    fill: red;
    stroke: black;
    stroke-width: 0.5px;
}

.whiteBall {
    fill: white;
}

.targetBall {
    fill: gold;
}

.pocket {
    fill-opacity: 0;
    stroke: gold;
    stroke-width: 1px;
}

.selectedPocket {
    fill: red;
    fill-opacity: 0.5;
}

.rectangle {
    fill-opacity: 0;
    stroke: white;
    stroke-width: 0.5px;
}

.rectangleBorder {
    stroke: white;
    stroke-opacity: 0;
    stroke-width: 2px;
}

.rectangleBorderVertical {
    cursor: e-resize;
}

.rectangleBorderHorizontal {
    cursor: s-resize;
}

#back {
    border-image: url("../../images/pool-background.jpg") 40 fill;
    border-image-width: 40px;
    border-image-outset: 40px;
    margin: 40px;
}

.hitPointHintOuterCircle {
    stroke: black;
    fill-opacity: 0;
}

.hitPoint {
    stroke: black;
    fill: none;
}

.selectedHitPoint {
    fill: #FFF8;
}