<div class="container">
    <div class="card">
        <div class="card-header">Opcje</div>
        <h5 class="card-title"></h5>
        <div class="card-body">
            <div class="form-group">
                <h6>Kalibracja</h6>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lewy dolny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftBottomCorner.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftBottomCorner.y"> 
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lewy górny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftUpperCorner.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftUpperCorner.y"> 
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Prawy dolny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightBottomCorner.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightBottomCorner.y"> 
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Prawy górny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightUpperCorner.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightUpperCorner.y"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Średnica bili</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.ballDiameter"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Wymiary stołu w cm</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.tableSizeInCm.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.tableSizeInCm.y"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Próg detekcji białej bili</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.whiteBallDensity"> 
                </div>
            </div>
            <div class="form-group">
                <h6>Projektor</h6>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lewy dolny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftBottomCornerProjector.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftBottomCornerProjector.y"> 
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lewy górny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftUpperCornerProjector.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.leftUpperCornerProjector.y"> 
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Prawy dolny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightBottomCornerProjector.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightBottomCornerProjector.y"> 
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Prawy górny wierzchołek</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightUpperCornerProjector.x"> 
                    <input type="number" class="form-control" [(ngModel)]="calibrationParams.rightUpperCornerProjector.y"> 
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary form-control" (click)="resetToDefault()">Reset</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary form-control" (click)="autoCalibration()">Automatyczna kalibracja</button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary form-control" (click)="updateCalibration()">Akceptuj</button>
            </div>

            <button class="btn btn-primary" (click)="navigateToPreviousPage();">Wróć</button>
        </div>
    </div>
</div>
