<div class="container">
    <div class="card text-center">
        <div class="card-header">Nowa gra</div>
        <h5 class="card-title">Wybierz tryb gry</h5>
        <div class="card-body">
            <div class="form-group">
                <button class="btn btn-primary" (click)="startGame();">
                    Normalny
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="navigateToChallengePage();">
                    Challenge
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="navigateToGeneratorPage();">
                    Generator
                </button>
            </div>

            <div class="form-group mt-2">
                <button class="btn btn-primary" (click)="navigateToPreviousPage();">
                    Wróć
                </button>
            </div>
        </div>
    </div>
</div>


