<div class="container">
    <div class="card text-center">
        <div class="card-header">Nowa gra/Challenge/{{ getDifficultyString() }}</div>
        <h5 class="card-title">Wybierz poziom</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-1" *ngFor="let training of trainings | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                    <img src="data:image/png;base64,{{training.imagePreview}}" class="w-100" (click)="selectLevel(training.id)">
                    <div class="btn-group w-100">
                        <button class="btn btn-outline-primary w-50" (click)="editLevel(training.id)">&#9998;</button>
                        <button class="btn btn-outline-danger w-50" (click)="openModal(content, training.id)">&#10060;</button>
                    </div>
                </div>
            </div>

            <div>
                <pagination-controls (pageChange)="getPage($event)" 
                    autoHide="true" 
                    previousLabel="<"
                    nextLabel=">">
                </pagination-controls>
            </div>

            <div class="form-group mt-2">
                <button class="btn btn-primary" (click)="navigateToPreviousPage();">
                    Wróć
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Usunięcie poziomu.</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Czy na pewno chcesz usunąć ten poziom?
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.dismiss()">Nie</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Tak</button>
    </div>
</ng-template>
    
        
        