<div class="container">
    <div class="card text-center">
        <div class="card-header">Nowa gra/Challenge</div>
        <h5 class="card-title">Wybierz poziom trudności</h5>
        <div class="card-body">
            <div class="form-group">
                <button class="btn btn-primary" (click)="selectDifficultyLevel('Easy');">
                    Łatwy
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="selectDifficultyLevel('Normal');">
                    Normalny
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="selectDifficultyLevel('Hard');">
                    Trudny
                </button>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary" (click)="navigateToPreviousPage();">
                    Wróć
                </button>
            </div>
        </div>
    </div>
</div>
    
    
    