<div class="container">
    <div class="card">
        <div class="card-header">Ustawienia trybu treningu</div>
        <h5 class="card-title"></h5>
        <div class="card-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Czas oczekiwania po poprawnym umieszczenie wszystkich bil</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="trainingModeParams.waitingForBallsPlacementDelay"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Czas oczekiwania po zatrzymaniu się bil</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="trainingModeParams.ballsStopMovingDelay"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Czas oczekiwania po zakończeniu gry</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="trainingModeParams.afterEndDelay"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tolerancja położenia bil(w stosunku do średnicy)</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="trainingModeParams.ballPositionTolerance"> 
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Akcja po sukcesie</span>
                    </div>
                    <select class="form-control" [(ngModel)]="trainingModeParams.afterSuccessAction">
                        <option [value]="AfterEndAction.SameLevel">Ten sam poziom</option>
                        <option [value]="AfterEndAction.NextLevel">Następny poziom</option>
                        <option [value]="AfterEndAction.RandomLevelOfSameDifficulty">Losowy poziom tego samego poziomu trudnośći</option>
                        <option [value]="AfterEndAction.RandomLevelOfAnyDifficulty">Losowy poziom dowolnego poziomu trudności</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Akcja po porażce</span>
                    </div>
                    <select class="form-control" [(ngModel)]="trainingModeParams.afterFailAction">
                        <option [value]="AfterEndAction.SameLevel">Ten sam poziom</option>
                        <option [value]="AfterEndAction.NextLevel">Następny poziom</option>
                        <option [value]="AfterEndAction.RandomLevelOfSameDifficulty">Losowy poziom tego samego poziomu trudnośći</option>
                        <option [value]="AfterEndAction.RandomLevelOfAnyDifficulty">Losowy poziom dowolnego poziomu trudności</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary form-control" (click)="updateTrainingModeParams()">Akceptuj</button>
            </div>
            
            <button class="btn btn-primary" (click)="navigateToPreviousPage();">Wróć</button>
        </div>
    </div>
</div>
