<div class="container">
    <div class="card">
        <div class="card-header">Ustawienia trybu wyświetlania</div>
        <h5 class="card-title"></h5>
        <div class="card-body">
        <div class="form-group">
                <h6>Tryb pasywny</h6>
                <div class="btn-group btn-group-toggle d-block" ngbRadioGroup name="radioBasic" [(ngModel)]="viewModeParams.passiveModeLevel">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" [value]="PassiveModeLevel.Off"> Wyłączony
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" [value]="PassiveModeLevel.Normal"> Normalny
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" [value]="PassiveModeLevel.Pro"> Pro
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h6>Informacje dodatkowe</h6> 
                <div class="form-group">
                    <div class="btn-group btn-group-toggle">
                        <label class="btn-primary" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="viewModeParams.isShowDistanceToBallActive"> Odległość do bili zagrywanej
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-toggle">
                        <label class="btn-primary" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="viewModeParams.isShowDistanceToPocketActive"> Odległość do łuzy
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-toggle">
                        <label class="btn-primary" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="viewModeParams.isShowAngleActive"> Kąt uderzenia
                        </label>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" (click)="navigateToPreviousPage();">Wróć</button>
        </div>
    </div>
</div>