<div class="container">
    <div class="card">
        <div class="card-header">Ustawienia wyświetlania</div>
        <h5 class="card-title"></h5>
        <div class="card-body">
            <h6>Wymiary</h6>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Grubość linii</span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="poolDrawerParams.lineThickness"> 
                        </div>
                    </div>
                </div>
                <div class="offset-6"></div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Promień obramowania bili</span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="poolDrawerParams.ballRadius"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowania bili</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.ballColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Promień obramowania białej bili</span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="poolDrawerParams.whiteBallRadius"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowania białej bili</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.whiteBallColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowania łuzy</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.pocketColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowania wybranej łuzy</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.selectedPocketColor"> 
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Promień obramowania wybranej bili</span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="poolDrawerParams.selectedBallRadius"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowania wybranej bili</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.selectedBallColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowania bili do wbicia</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.trainingSelectedBallColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor obramowaia bil przeszkadzajek</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.disturbBallColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Grubość linii trajektorii</span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="poolDrawerParams.trajectoryLineThickness"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor linii trajektorii</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.trajectoryLineColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor linii - rotacja postępowa</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.followRotationLineColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor linii - brak rotacji</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.zeroRotationLineColor"> 
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Kolor zakrytych miejsc</span>
                            </div>
                            <input type="color" class="form-control" [(ngModel)]="poolDrawerParams.hiddenPlacesColor"> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary form-control" (click)="updatePoolDrawerParams()">Akceptuj</button>
            </div>
            
            <button class="btn btn-primary" (click)="navigateToPreviousPage();">Wróć</button>
        </div>
    </div>
</div>
